.ourcontact {
    position: absolute;
    float: right;
    right: 100px;
}
.homelinks {
    background: black;
    padding: 10px;
    margin: 0;
    display: flex;
    
}
.homelinks ul li{
    list-style: none;
    padding: 10px;
    color: #fff;
    padding: 5px;
}
.homelinks a {
    text-decoration: none;
    color: #fff;
}
.homelinks a:hover {
    background: #5bc9c2;
}
.contact-us {
    
    position: absolute;
    right: 30px;
}  
h3 {
    color: #fff;
    margin-right: 20px ;
    padding: 3px;
    margin-bottom: 5px;
    border: #5bc9c2 solid ;
}
h1 {
    text-align: center;
    font-size: bold;
}
#address{
    position: absolute;
    right: 40%;
    left: 35%;
    color: #fff;
}
#logo{
    position: absolute;
    width: 80px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    background: url(logo2.png);
    background-size: cover;
    padding: 1px;
}