body {
    margin: 0;
    padding: 0;
    background-image: url("Images/ertale.jpg");
    background-size: cover;
    font-family: Arial;
}
.homelinks ul{
    list-style: none;
    background: #bd1e43;
    padding: 0;
    margin: 0;
    text-align: right;
}
.homelinks li{
    display: inline-block;
}
.homelinks a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 20px 20px;
    text-align: right;
}
.homelinks a:hover{
    background: #353640;
}
#ertale{
    text-align: center;
    font-size: 24px;
    font-family: Arial;
    margin-top: 13%;
}
.welcome{
    
    text-align: center;
    font-size: 64px;
    font-family: Times New Roman;
    font-weight: bold;
    color: #ffffff;
}
#logo{
    width: 120px;
    height: 80px;
    border-radius: 50%;
    border: solid;
    background: url(Images/logo2.png);
    background-size: cover;
    position: absolute;
    left: 120px;
    top: 130px;
}