.blog{

    display: grid;
    grid-template-columns: repeat(2, 50% );

}
.blog_image{
   display: flex;
   padding: 10px;
}

.blog_image_paragraph{
    padding: 10px;
    font-size: 1vw;
}
.blog_picture{
    display: flex;
    padding: 10px;

}
.blog_picture_2{
    padding-right: 10%;
}

@media only screen and (max-width: 600px) {

    #address{
        font-size: 0;
    }
}







/* footer */

.homelinks {
    background: black;
    padding: 10px;
    margin: 0;
    display: flex;
    
}
.homelinks ul li{
    list-style: none;
    padding: 10px;
    color: #fff;
    padding: 5px;
}
.homelinks a {
    text-decoration: none;
    color: wheat;
}
.homelinks a:hover {
    background: #5bc9c2;
}
.contact-us {
    
    position: absolute;
    right: 30px;
}  
h3 {
    color: #fff;
    margin-right: 20px ;
    padding: 3px;
    margin-bottom: 5px;
    border: #5bc9c2 solid ;
    font-size: 2vw;
}
h1 {
    text-align: center;
    font-size: bold;
}
#address{
    position: absolute;
    right: 40%;
    left: 35%;
    color: #fff;
}
#logo{
    position: absolute;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: solid;
    background: url(logo2.png);
    background-size: cover;
    padding: 1px;
}
.blue-color{
    color: blue;
    padding: 5px;

}
.instagram-icon{
    color: red;
    padding: 5px;

}
.linkedin-icon{
    color: rgba(9, 107, 193, 0.592);
    padding: 5px;
}